body {
  background-color: #eee;
}

header {
  background-color: #1e2433;
  padding-top: 1.2vw;
  padding-bottom: 1.2vw;
  margin-left: 4vw;
  margin-right: 4vw;
}

div {
  text-align: right;
  margin-left: 5vw;
  margin-right: 5vw;
}

.thinnav {
  font-family: 'Source Sans Pro';
  color: #a3a5ab;
  text-decoration: none;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  right: 1vw;
}
